.git
.github
.idea
.vscode

.env
.env.*
!.env.example

node_modules
vendor
npm-debug.log
yarn-error.log

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/app/public/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

docker-compose*.yml
Dockerfile.jenkins
monitoring/dashboard
docs
tests
